header img {
    height: 80px;
}

body {
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;  
}

.backgroundimagemain {
    height: 125vh;
    background-image: url('https://static.billboard.com/files/media/Maroon-5-press-photo-2018-by-Wes-and-Alex-billboard-1548-compressed.jpg'); 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   }

#backgroundimageother { 
    height: 125vh;
    background-image: url('https://www.udiscovermusic.com/wp-content/uploads/2019/03/Maroon-5-Red-Pill-Blues-2017-press-shot-web-optimised-1000.jpg'); 
    background-size: cover; 
    opacity: 0.2; 
    background-position: center center;
   }

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}
a:Hover {
    color: rgb(116, 6, 30);
    text-shadow: 2px 2px 5px #D97381;
}



section {
    color: #e3e3e3
}
section {
    font-size: 0.88rem;
}


p {
    background-color: #5e5d5d;
    border-style: solid;
    border-color: #5e5d5d;
    border-width: 20px;
    text-align: center;
  }


p.blocktext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50em;
    width: 100em
  }

@media screen and (min-width: 601px) {
    p.blocktext {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50em;
        width: 100em
      }
    }


h1 { 
    color: #e3e3e3;
    font-style: bold;
    font-family: sans-serif;
    align-items: center;
    font-size: 2rem;
}


h2 { 
    font-style: bold;
    align-items: center;
    font-size: 2rem;
}


h3 { 
    font-style: bold;
    align-items: center;
    font-size: 1.25rem;
}

table {
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }

th {
    height: 50px;
    padding: 15px;
    background-color: #5e5d5d;
    color: #e3e3e3;
  }

td {
    padding: 15px;
    vertical-align: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }

thead {  
    font-style: bold;
    font-size: 1.25rem;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

details  li {
    list-style-type: none;
}

details summary {

}

details ul {
      text-align: center;
      margin-left: auto;
      margin-right: auto
  }

  h4 {
    font-size: 1.25rem;
  }

  footer {
    text-align: bottom;
 }



