* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost-Extralight";
}

body {
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;  
}

/* MAIN PAGE BACKGROUND  */
.backgroundimagemain {
    width: 100%;
    height: 125vh;
    background-image: url('https://static.billboard.com/files/media/Maroon-5-press-photo-2018-by-Wes-and-Alex-billboard-1548-compressed.jpg'); 
    -webkit-background-size: cover; /* research */
    -moz-background-size: cover;/* research */
    -o-background-size: cover;/* research */
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s ;
   }
   /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst {/* research */
    from {opacity: 0.2;}
    to {opacity: 1;}
  }
   /* Standard syntax */
   @keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }


/* MAIN HEADER BAR */
header img {
    height: 70px; 
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}
a:Hover {
    color:  #d47415;
    text-shadow: 2px 2px 5px #f7ab68;
}
/*******************************/
/* Tablet Styles */ /* HEADER */
@media only screen and (min-width: 768px) {
    header {
        height: 80px;
        justify-content: space-between;
    }
}

/* Desktop Styles */ /* HEADER */
@media only screen and (min-width: 992px) {
    header {
        height: 80px;
        justify-content: space-between;
    }
  
  }

 /*******************************/

/* MAIN PAGE CONTENT  */
section {
    color: #e3e3e3;
    font-size: 0.88rem;
}

.wrapper {
    display: flex;
    height: 125vh;
    flex-direction: column;
    align-items: flex-end;
  }
  
 /*******************************/

 div.space {
    margin-top: 500px;

 }
p.maincontent {
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
    width: 100em;
    align-items: flex-end;
  }

.contenthome {
    background-color: #5e5d5d;
    border-style: solid;
    border-color: #5e5d5d;
    border-width: 20px;
    text-align: center;
  }
 
  
/*******************************/
h1 { 
    color: #e3e3e3;
    font-style: bold;
    font-family: sans-serif;
    align-items: center;
    font-size: 2rem;
}

h2 { 
    font-style: bold;
    align-items: center;
    font-size: 2rem;
}


h3 { 
    font-style: bold;
    align-items: center;
    font-size: 1.25rem;
}
/*******************************/
/* Tablet Styles */ /* MAIN PAGE */
@media only screen and (min-width: 768px) {
     {
        
    }
}

/* Desktop Styles */ /* MAIN PAGE */
@media only screen and (min-width: 992px) {
     {
       
    }
  
  }
/*******************************/
/* DISCO PAGE CONTENT  */
.disco-main {
    display: flex;
    height: 125vh;
    flex-direction: column;
    margin-top: 125px;
    
}

.discoheader {
text-align: center;

}

.table {
    display: flex;
    justify-content: center;
    
  }

th {
    height: 50px;
    padding: 15px;
    background-color: #f7ab68;
    color:black;
  }

.albums-imgs {
    width: 80%;
  }

td  {
    padding: 10px;
    vertical-align: center;

    background-color:#595857;
    color:white;
  }

  

thead {  
    font-style: bold;
    font-size: 1.25rem;
}

.table ol {
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*******************************/
/* Tablet Styles */ /* DISCO PAGE */
@media only screen and (min-width: 768px) {
    body.disco-main {
        margin-top: 60px;
   }
}

/* Desktop Styles */ /* DISCO PAGE */
@media only screen and (min-width: 992px) {
    body.disco-main {
        margin-top: 60px;
   }
 
 }
/*******************************/

/*******************************/
/* BIO PAGE CONTENT  */

.bio-main {
    display: flex;
    height: 125vh;
    flex-direction: column;
    margin-top: 125px;
    color: white;
}

.bio-content {
    display: block;
    text-align: center;

}
.bio-heading{
    text-align: left;
}
.bio-heading:hover {
    background-color: #f7ab68;
    color:black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.bio-imgs {
width: 50%;
border-radius: 30px 30px 30px 30px;
}

details li {
    list-style-type: none;
}

details summary {

}

details ul {
      text-align: center;
      margin-left: auto;
      margin-right: auto
  }

h4 {
    font-size: 1.25rem;
  }

  /*Background image */ /* BIO PAGE */
.effect-back {
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1453090927415-5f45085b65c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1331&q=80');
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
}

/*.effect-back::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left:  0px;
    background-image: url('https://images.unsplash.com/photo-1453090927415-5f45085b65c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1331&q=80');
    background-size: cover;
    background-position: fixed;
    opacity: 0.25;
}*/
  
/*******************************/
/* Tablet Styles */ /* BIO PAGE */
@media only screen and (min-width: 768px) {
    body.bio-main {
        margin-top: 60px;
        }
    .bio-imgs {
        width: 30%;
        }
}

/* Desktop Styles */ /* DISCO PAGE */
@media only screen and (min-width: 992px) {
    body.bio-main {
        margin-top: 60px;
   }
    .bio-imgs {
        width: 30%;
        }
 }
/*******************************/

.footer {
    margin-top: 100;
    display: flex;
    height: 125vh;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    justify-content: end;
    margin-top: 500px; 
 }


/*******************************/
